/*Opmaak.css bestand*/
      html{
        background-color: #FFFFFF;
        width: 760px;
        height: 460px;                      /*Vastgezette afmetingen van de pagina*/
        font-family: Times !important;                      /*!important zorgt ervoor dat niets kan veranderen wat je voor important hebt gedclareerd*/
       }
	   h1{
		    text-align: center;
        background-color: #FFFFFF;
        background-size: auto;
	    }
	  body{
      width: 760px;
      height: 460px;
	  	background-image: url(achtergrond.jpg);

      }
      input[type=button]{
        width: 3cm;
        height: 1cm;
        background-color: #FFFFFF;
        margin-top: 3px;
      }
      #banner{
        border-bottom: solid;
        background-color: #FFFFFF;
        width: auto;
      }
	    #menu{
	  	border:	1px solid;
	  	background-color: #000000;
	   	width:	5cm;
	  	height:	8cm; 
      margin-left: 0px;
      padding-top: 0px; 	 	
	    }
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 7px;
      }
      #overmij{
      width: 37em;
      height: auto;
      }
      #geenfoto{
        width: 80px;
        height: 80px;
      }
      #mail {
        display: block;
        margin-left: auto;
        width: 75px;
        height: 75px;
      }
      a:link{
      color: blue;
      }
      a:visited{
      color: blue;
      }
      a:hover{
      color: red;
      }
      .inactiveLink{                /*Zorgt ervoor dat de link met de class 'class="inactiveLink" niet klikbaar is*/
      cursor: not-allowed;
      }
